<% provide(:title, 'Projektpartner | Unterauftragnehmer') %>

    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
    
   
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<%= link_to image_tag("l2.jpg",  alt: "2")%>
<BR>
<BR>
<%= link_to image_tag("l1.jpg", alt: "1")%>

    </div>
    
    
    <div class="span10">

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<div class="center hero-unit">
    <ul class="nav nav-pills">
    <li class="active">
    <a href="projektpartner_wip">TU Berlin</a>
    </li>
    <li class="active">
    <a href="projektpartner_4flow_AG">4flow</a></li>
    <li class="active"><a href="projektpartner_kit">KIT</a></li>
    <li class="active"><a href="projektpartner_kuehne_nagel">Kühne + Nagel</a></li>
    <li class="active"><a href="/static_pages/projektpartner_unterauftragnehmer">Unterauftragnehmer</a></li>
    <li class="active"><a href="projektpartner_assoziierte_partner">Assoziierte Partner</a></li></ul>
<BR>
<h2>Projektpartner >> Unterauftragnehmer</h2>

<BR>

<ul>
<li>Hamburg Port Consulting (HPC)</li>
</ul>
<ul>
<li>Prof. Dr. Christian Butz (Professor für Logistik an der Beuth Hochschule für Technik Berlin)</li></ul>

<ul><li>Prof. Dr. Dr. Giacomo Corneo (Universitätsprofessor für öffentliche Finanzen am Fachbereich Wirtschaftswissenschaft der FU Berlin) </li></ul>
<ul>
<li>Prof. Dr. Georg Hermes (Professor für öffentliches Recht am Fachbereich Rechtswissenschaft der Universität Frankfurt/M.)</li></ul>
<BR>
<BR>
<BR>

      </div>
    </div>
    </div>
    </div>
      </div>






