<% provide(:title, 'Projektziele') %>

    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
    
   
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<%= link_to image_tag("l1.jpg", alt: "1")%>
<BR>
<%= link_to image_tag("l2.jpg", alt: "2")%>

    </div>
    
    
    <div class="span10">

<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<div class="center hero-unit">
<BR>
<BR>
<h2>Projektziele</h2>
<BR>
<BR>
  <p>
Für die Ableitung geeigneter unternehmerischer und staatlicher Risikomanagementstrategien werden im Projekt realitätsnahe Katastrophenszenarien definiert, die tatsächliche Bedrohungen widerspiegeln. Die Auswirkungen der Katastrophenszenarien auf Versorgungssicherheit und Gesamtkosten von Transport- und Logistiknetzwerken werden anschließend modelliert und detailliert analysiert. Zur Wirkungsermittlung werden verschiedene Netzwerksimulations-Tools eingesetzt, mit denen die Anfälligkeit von Warenketten einzelner Unternehmen, Branchen oder ganzer Märkte gegenüber schwerwiegenden Störungen an neuralgischen Infrastruktur- und Logistikknoten dargestellt und untersucht werden kann. Ein erstes wissenschaftliches Arbeitsziel des Projektvorhabens ist somit die Verbesserung der vorhandenen Methoden und Modellsysteme zur Abbildung und Optimierung komplexer Warenketten, insbesondere im Hinblick auf die Auswirkungen von Katastrophenfällen. Eine wichtige Rolle hierbei nimmt die enge Abstimmung und Interaktion einzelner Modellsysteme bzw. -bausteine mit unterschiedlichem Auflösungsgrad in der Darstellung ein. Auf diese Weise sollen komplexe Logistik- und Wertschöpfungsnetzwerksysteme, die durch die Kopplung verschiedener Akteure entstanden sind, realistisch abgebildet werden. Bei der Validierung der Modellansätze sowie bei der Definition und Analyse realistischer Sicherheitsszenarien wird eng mit Praxispartnern zusammengearbeitet.
Bei der Bewertung der Katastrophenszenarien sollen sowohl die unternehmerischen als auch die gesamtwirtschaftlichen Implikationen des Risikomanagements betrachtet werden. Ein zweites wesentliches Arbeitsziel des Projektes ist deshalb die Erarbeitung einer volkswirtschaftlichen Bewertungsmethodik für Risikomanagementstrategien, die die Systemstabilität in Transport-, Logistik- und Wertschöpfungsnetzwerken berücksichtigt. Diese könnte in Folge des Projektes u.a. in die Bundesverkehrswegeplanung (BVWP) integriert werden, in welcher dieser bedeutsame Aspekt bisher nicht hinreichend berücksichtigt wird.
Ein drittes Ziel des Projektes ist die institutionenökonomisch fundierte Analyse bezüglich der Implementierung effizienter Risikomanagementstrategien im Hinblick auf Katastrophenfälle auf einzel- und gesamtwirtschaftlicher Ebene. Zu betrachten sind u.a. institutionelle Umsetzungshemmnisse auf Unternehmensebene und auf Seiten der öffentlichen Hand als Infrastrukturbereitsteller sowie potenzielle Maßnahmen zu deren Überwindung. Weiterhin sind auch wirtschaftspolitische Maßnahmen zur Beseitigung derartiger Ineffizienzen zu prüfen. 
</p>

      </div>
    </div>
    </div>
    </div>
      </div>











