<% provide(:title, 'Projektbeschreibung') %>


    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
    
   
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<%= link_to image_tag("l34.jpg",  alt: "2")%>
<BR>
<BR>
<%= link_to image_tag("l1.jpg", alt: "1")%>

    </div>
    
    
    <div class="span10">
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>

<div class="center hero-unit">
<BR>
<BR>
<h2>Projektbeschreibung</h2>
<BR>
<BR>
  
  <strong>Kurzvorstellung des Projektes RM-LOG</strong>
  
  <p>
Internationale Arbeitsteilung, Informationsübertragung in Echtzeit und die damit einhergehende Beschleunigung der Wirtschaftsprozesse führen zu einer engen Vernetzung und gegenseitiger Abhängigkeit von Produktions- und Logistikstrukturen. Die Wertschöpfungsnetzwerke erstrecken sich zunehmend über mehrere Kontinente, die an neuralgischen makrologistischen Infrastrukturknoten gebündelt sind, wie z.B. an Häfen, Hinterlandterminals oder Flughäfen. Durch die Konzentration von Aktivitäten an ausgewählten Knotenpunkten ist die Versorgungssicherheit der Bevölkerung und gesamter Branchen anfälliger gegenüber unvorhersehbaren Ereignissen geworden, die direkte und indirekte Auswirkungen auf Warenketten besitzen. 
Vor diesem Hintergrund kann die Hypothese formuliert werden, dass die durch Katastrophenereignisse bedingten Störungen der Warenketten an makrologistischen Knoten ein systematisches Risiko darstellen, welches eine direkte Relevanz für ein effizientes Risikomanagement sowohl aus unternehmerischer und unternehmensübergreifender als auch aus gesellschaftlicher Sicht besitzt.
Global-politische Veränderungen sowie technologische Entwicklungen und Klimaveränderungen haben in der jüngeren Vergangenheit zu neuen Bedrohungslagen und gestiegenen Gefährdungspotenzialen geführt (insbesondere aufgrund von terroristischen Anschlägen, Naturkatastrophen und Großunfällen), die die Sicherheit von Warenketten erheblich beeinträchtigen können. Gleichzeitig sind in anderen Bereichen neue Erkenntnisse über systemisches Versagen vernetzter Systeme bekannt geworden, die zu einer Neueinschätzung der Aufgaben des staatlichen Handelns führen. Aus diesen Gründen ist es erforderlich, geeignete Methoden zur Abschätzung und Bewertung von Risiken sowie zur systematischen Ableitung konkreter Handlungsempfehlungen im Hinblick auf Risikomanagementstrategien zu erarbeiten. Dabei sind Risikomanagementstrategien sowohl auf Ebene der Produktions- und Logistikunternehmen als auch auf Ebene der Infrastrukturbetreiber sowie auf Ebene des Staates (als zentralem Akteur im Hinblick auf die Bereitstellung von Verkehrsinfrastrukturen) zu betrachten. Weiterhin ist das Potenzial kollektiver Risikomanagementstrategien zu untersuchen und zu diskutieren, ob und in welcher Form der Staat als verantwortlicher Akteur im Hinblick auf die Vorgabe von Regeln und die Regulierung bezüglich der Risikovorsorge durch die Marktakteure tätig werden sollte.
Hauptziel des Projektvorhabens ist es, umsetzbare Risikomanagement-Strategiekonzepte für Unternehmen und öffentliche Entscheidungsträger zu erarbeiten, die eine effiziente Vorsorge auch im Hinblick auf Katastrophenereignisse gewährleisten. Konkret sollen Handlungsoptionen und -empfehlungen bezüglich unternehmerischer und staatlicher Maßnahmen erarbeitet werden, die das Aufrechterhalten der Versorgungssicherheit für Wirtschaft und Bevölkerung im Katastrophenfall ermöglichen. 
Zu diesem Zweck werden die Auswirkungen verschiedener Katastrophen auf die in Transport und Logistik beteiligten Akteure simuliert. Das mehrschichtige Simulationssystem ermöglicht es, die Effizienz verschiedener Risikomanagementstrategien zu beurteilen. 
</p>



      </div>
    </div>
    </div>
    </div>
      </div>






