<footer class="footer">
  <small>
    by Timo Ebeling | WIP | te@wip.tu-berlin.de
  </small>
  <nav>
    <ul>
      <li><%= link_to "Impressum",   static_pages_impressum_path %></li>
      <li><%= link_to "Kontakt", static_pages_kontakt_path %></li>
    </ul>
  </nav>
</footer>
